<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MediaCollection</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="app">
        <div class="sidebar">
            <div class="top-row pl-4 navbar navbar-dark">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MediaCollection</a>
                <button class="navbar-toggler" id="navbar-toggler">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div style="height:100%" id="toggleable">
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>

                    <li class="nav-item px-3">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>

                    <li class="nav-item px-3">
                        <a class="nav-link text-light" asp-area="" asp-controller="Music" asp-action="Index">Music</a>
                    </li>

                    <li class="nav-item px-3">
                        <a class="nav-link text-light" asp-area="" asp-controller="Podcast" asp-action="Index">Podcasts</a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="main">
            <div class="top-row px-4">
                <ul class="nav flex-row">
                    <partial name="_LoginPartial" />
                </ul>
            </div>
            <div class="content px-4">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - MediaCollection - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        const toggleButton = document.getElementById('navbar-toggler');
        const toggleable = document.getElementById('toggleable');
        toggleButton.addEventListener('click', () => {
            toggleable.classList.toggle('collapse');
        })
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
