@inject SignInManager<MediaCollection.Domain.MediaCollectionUser> signInManager

@if (signInManager.IsSignedIn(User)) {

<a asp-controller="Playlist"
   asp-action="Index"
   class="btn btn-primary">
    Playlists
</a>

}

<a asp-controller="Song"
   asp-action="Index"
   class="btn btn-primary">
    Songs
</a>