@model PlaylistIndexViewModel

<partial name="AddPlaylistForm" model="(new AddPlaylistFormViewModel())"/>

<h3><em>Playlists</em></h3>
@if (Model.PlayLists == null || !Model.PlayLists.Any())
{
    <p><em>You haven't made any playlists</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th colspan="2">Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PlayLists)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <a asp-controller="Playlist"
                           asp-action="Detail"
                           asp-route-id="@item.Id"
                           class="btn btn-primary">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}