@model IEnumerable<MediaCollection.Models.PodcastModels.PodcastIndexViewModel>

<h3><em>Podcasts</em></h3>

@if (Model == null || !Model.Any())
{
    <p><em>You haven't made any playlists</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <a asp-controller="Podcast"
                           asp-action="Detail"
                           asp-route-id="@item.Id">@item.Name</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<a asp-controller="Podcast"
   asp-action="Create"
   class="btn btn-primary">Add Podcast</a>